@media screen and (min-width: 769px) {

    .content {
        flex: 1;
        padding: 40px 60px;
        background-color: #fff;
        min-height: 100vh;
        box-sizing: border-box;
    }


    section.content h2 {
        font-size: 22px;
        font-weight: 600;
        color: #3a2c29;
        margin-bottom: 25px;
    }

    .order-table {

        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        font-size: 14px;
        margin-top: 40px;
    }

    .order-table thead {
        color: #3a2c29;
        font-weight: 600;
        border-top: 2px solid #3b2b23;
    }

    .order-table th,
    .order-table td {
        text-align: left;
        padding: 14px 18px;
        border-bottom: 1px solid #e3d7cf;
    }

    .order-table th:first-child,
    .order-table td:first-child {
        width: 40px;
        text-align: center;
    }

    .status-select {
        padding: 7px 10px;
        border-radius: 6px;
        border: 1px solid #cbb8a4;
        font-size: 14px;
        background-color: #fff;
        color: #3a2c29;
        cursor: pointer;
    }

    .save-btn {
        background-color: #b8916e;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 13px;
        cursor: pointer;
    }

    .save-btn:hover {
        background-color: #a27959;
    }
}

@media screen and (max-width: 768px) {
    section.content {
        padding: 20px;
    }

    .order-table th,
    .order-table td {
        font-size: 13px;
        padding: 10px 12px;
    }
}