@media screen and (min-width: 769px) {
    section.content {
        margin: 40px auto;
        background-color: #fff;
        padding: 40px 80px 20px 80px;
    }


    section.content h2 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 24px;
    }


    #addbtn {
        float: right;
        padding: 10px 22px;
        background-color: #B8916E;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;
        margin-top: -32px;
        margin-bottom: 32px;

    }

    #addbtn:hover {
        background-color: #9d724f;
    }


    .products-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 40px;
        font-size: 0.95rem;
    }

    .products-table thead {
        border-top: 2px solid #3b2b23;
    }

    .products-table th,
    .products-table td {
        text-align: left;
        padding: 12px 8px;
        border-bottom: 1px solid #ddd;
    }

    .products-table th {
        font-family: "roboto";
        font-weight: 600;
    }

    .products-table th:first-child,
    .products-table td:first-child {
        width: 40px;
        text-align: center;
    }

    .products-table th:nth-child(4),
    .products-table td:nth-child(4) {
        text-align: center;
    }

    .products-table a {
        color: #3b2b23;
        font-size: 12px;
        border-bottom: 1px solid #3b2b23;
        margin-right: 20px;
    }



}