@media screen and (min-width: 769px) {



    section {
        /* background-color: yellowgreen; */
        padding-left: 60px;
        padding-top: 60px;
    }


    section h2 {
        padding-bottom: 50px;
    }

    section label {
        font-size: 16px;
        display: inline-block;
        width: 100px;
    }

    section .field p {
        font-size: 18px;
    }

    section .image-field input {
        width: 380px;
        height: 50px;
        border: 1px solid #3C2F2F;
        border-radius: 10px;
        margin-right: 28px;

    }

    section .image-field button {
        width: 96px;
        height: 55px;
        background-color: #B8916E;
        border-radius: 10px;
        cursor: pointer;
    }

    section .image-field .image-status {
        /* background-color: yellowgreen; */
        padding-left: 110px;
        padding-top: 10px;
        font-size: 14px;
    }

    section .field input,
    section .field select {
        width: 500px;
        height: 50px;
        border: 1px solid #3C2F2F;
        border-radius: 10px;
    }

    section .field select {
        padding-left: 10px;

    }

    section .field .stock-row {
        display: flex;
    }

    section .field .stock-item {
        padding-left: 23px;
    }

    section .field .stock-item label {
        width: 30px;
    }

    section .field .stock-item input {
        padding-left: 10px;
        width: 80px;
    }

    section .field,
    section .stock-item {
        margin: 20px 0px 20px 0px;
    }

    section .btn {
        width: 196px;
        height: 55px;
        border: none;
        border-radius: 10px;
        background-color: #B8916E;
        margin-top: 80px;
        margin-left: 26rem;
    }

    section .btn:hover {
        background-color: #8D030B;
        transition: background-color 0.4s ease;
        color: #fff;
    }


}


/* Mobile */
@media screen and (max-width: 768px) {
    body {
        background-color: green;
    }
}