/* ad-products.css */

@media screen and (min-width: 769px) {

    /* Layout */
    section.content {
        flex: 1;
        margin: 40px auto;
        background-color: #fff;
        padding: 40px 80px 20px 80px;
        overflow-y: auto;
        box-sizing: border-box;
        border-radius: 10px;
    }

    /* Page title */
    section.content h2 {
        font-size: 22px;
        font-weight: 600;
        color: #3a2c29;
        margin-bottom: 25px;
    }

    /* Add button */
    #addbtn {
        background-color: #b8916e;
        color: white;
        border: none;
        padding: 10px 22px;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        float: right;
        margin-top: -32px;
        margin-bottom: 32px;
    }

    #addbtn:hover {
        background-color: #a27959;
    }

    /* Table styling */
    .products-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        font-size: 14px;
        margin-top: 40px;
    }

    .products-table thead {
        color: #3a2c29;
        font-weight: 600;
        border-top: 2px solid #3b2b23;
    }

    .products-table th,
    .products-table td {
        text-align: left;
        padding: 14px 18px;
        border-bottom: 1px solid #e3d7cf;
    }

    .products-table th:first-child,
    .products-table td:first-child {
        width: 40px;
        text-align: center;
    }

    .products-table th:nth-child(4),
    .products-table td:nth-child(4) {
        text-align: center;
    }

    .products-table a {
        color: #b8916e;
        font-weight: 500;
        font-size: 13px;
        cursor: pointer;
        margin: 0px 10px 0px 10px;
    }

    .products-table a:hover {
        text-decoration: underline;
    }


}

/* Mobile */
@media screen and (max-width: 768px) {
    section.content {
        padding: 20px;
    }

    #addbtn {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    .products-table th,
    .products-table td {
        font-size: 13px;
        padding: 10px 12px;
    }
}