body {
    background-color: #ECE6E2;
    color: #3C2F2F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', Courier, monospace;
}

p,
button,
label,
input {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (min-width: 769px) {

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    p,
    label {
        font-size: 16px;
    }

}


@media screen and (max-width: 768px) {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    p,
    label {
        font-size: 15px;
    }

}