main {
    padding: 80px 140px;
    margin: auto;
    background: #ECE6E2;
}

.category-title {
    font-family: "Caprasimo", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #8D030B;
    /* main font color */
    margin-bottom: 12px;
    text-transform: capitalize;
}

.category-content {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #3C2F2F;
    max-width: 900px;
    margin-bottom: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.product-card {
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card img {
    width: 100%;
    border-radius: 14px;
    aspect-ratio: 3/4;
    object-fit: cover;
    background: #ECE6E2;
}


.product-card:hover {
    transform: translateY(-6px);
}


.product-card h3 {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #3C2F2F;
    margin-top: 12px;
    margin-bottom: 4px;
}


.product-card .price {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #8D302B;
    font-weight: 600;
}

@media (max-width: 768px) {
    main {
        padding: 40px 20px;
    }

    .category-title {
        font-size: 28px;
    }

    .category-content {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}