/* Desktop */
@media screen and (min-width: 769px) {
    header {
        background-color: #8D030B;
        height: 80px;
        width: 100%;
        color: #fff;

    }

    .card {
        width: 520px;
        background-color: #fff;
        border-radius: 14px;
        margin: 80px auto 100px;
        padding-left: 40px;
        padding-bottom: 80px;
    }

    .card h2 {
        padding: 40px 0px;
    }

    .card .field {

        margin-bottom: 20px;
        width: 26rem;
    }

    .card .field label,
    .card .field input {
        display: block;
        position: relative;
    }

    .card .field label {
        margin-bottom: 8px;
    }

    .card .field input {
        width: 100%;
        border: none;
        border-bottom: 2px solid #3C2F2F;
        background-color: transparent;
        padding: 6px 0;
        outline: none;
        font-size: 1rem;
        color: #3C2F2F;
    }


    .card button {
        width: 300px;
        padding: 10px 6px;
        background-color: #B8916E;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 70px;

        cursor: pointer;
        /* margin: 90px auto 0; */
    }

    .card button:hover {
        background-color: #8D030B;
        color: #fff;
        transition: background-color 0.4s ease;
    }

    label {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
    }






}


/* Mobile */
@media screen and (max-width: 768px) {
    body {
        background-color: green;
    }
}